<h1>Invalid Session</h1>
<p>Oops. We couldn't log you in to this application!</p>

<p>This might be because:</p>

<ul>
  <li>Your session expired. Reloading the page should fix this.</li>
  <li>You're using a browser that doesn't allow third-party cookies - Safari, for instance.</li>
</ul>

<h2>How do I fix this?</h2>

<ol>
  <li>First, just try reloading this page. If this doesn't fix the problem. . . </li>
  <li>Try an alternate browser such as <a
      href="//www.mozilla.org/en-US/firefox/new/">Firefox</a> or <a
      href="//www.google.com/chrome">Google Chrome</a>.
    <li>Finally, if you're using Safari, try enabling third-party cookies:<br/>
      <ol>
        <li>Open Safari,</li>
        <li>In the top left corner of your screen click on "Safari",</li>
        <li>Select "Preferences",</li>
        <li>In the "Preferences" window select the "Privacy" option,</li>
        <li>Under "Block cookies" select "Never"</li>
      </ol>
    </li>
  </ol>
