<div class="full-width">
  <div class="upload-widget">
    <div id="upload_widget" data-course-title="<%= course.title %>"></div>
    <% if @my_video.present? %>
      <p><%= t('videos.already_uploaded') %></p>
    <% end %>
    <% if course.review_required? %>
      <p><%= t('videos.review_required') %></p>
    <% end %>
    <div id="uploading_in_progress" style="display:none;">
      <p><%= t('videos.uploading_in_progress') %></p>
    </div>
  </div>
  <div class="upload-player">
    <div id="player"></div>
  </div>
</div>
