<div class="full-width">
  <% if @my_video.persisted? %>
    <h3><%= t('videos.your_current_video') %></h3>
    <p><%= t('videos.resubmit') %></p>
    <%= render @my_video %>
  <% else %>
    <h3><%= t('videos.none_uploaded_yet') %></h3>
  <% end %>
</div>
