@charset 'utf-8';

@import 'normalize-rails';
@import 'bourbon';
@import 'base/grid-settings';
@import 'neat';
@import 'base/base';
@import 'forms';
@import 'flashes';
@import 'toolbar';
@import 'dropdown';
@import 'badges';
@import 'layout';
@import 'filters';
@import 'courses';
@import 'videos';
@import 'refills/modal';

iframe{
  margin: 0em;
  padding: 0em;
}

.clearfix {
  @include clearfix();
}

h1, h2, h3, h4, h5, h6{
  margin-bottom: 1em;
}

ol, ul {
  margin-top: 1em;
}

li {
  list-style-position: inside;
  margin-left: .5em;
  list-style-type: initial;
}

ol li {
  list-style-type: decimal;
}
.markdown_info{
  font-size: .8em;
  margin-top: 2em;
}
